Django

git+https://kumig.it/kumitterer/django-oidc-provider/
git+https://github.com/OTA-Insight/djangosaml2idp/

dbsettings
django-autosecretkey

cryptography
pysaml2
pyotp
django-timezone-field
django-phonenumber-field[phonenumbers]
django-annoying
django-crispy-forms
crispy-bootstrap4
pyqrcode
pypng
django-ajax-datatable
pyjwt

# For MySQL:

mysqlclient
